
/* form */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.form label,
.form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.25rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 30%;
  border: 1px solid #870f06;
  background-color: wheat;
  border-radius: 8px;
  font-size: 1.1rem;
  padding: 0.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.form input:focus {
  border: 1px solid wheat;
  box-shadow: inset 0px 0px 3px wheat(31, 143, 255, 0.5);
  outline: none;
}

.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid rgb(19, 124, 19);
  background-color: rgb(173, 230, 173);
}

.loginBtn{
  width: 100px;
  height: 35px;
  background: linear-gradient(#870f06, #c2000d);
  box-shadow: 2px 4px 6px rgba(0, 0, 0) 2px 4px 4px rgba(0, 0, 0);
  font-size: 20px;
  border: none;
  color: wheat;
  border-radius: 10px;
  margin-bottom: 5%;
  border: none !important;
}
.loginBtn:hover{
  transform: scale(1.1);
  transition: 0.5s;
  background: linear-gradient(#be0d00, #c2000d);
}
.createAccount{
  background: -webkit-linear-gradient(#870F06, #c2000d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

/* error notice */

.error-notice {
  padding: 0.5em;
  border-radius: 8px;
  margin: 1rem 0;
  border: 1px solid #e92626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: wheat;
  color: #e92626;
  font-size: 1.1rem;
}

.error-notice button {
  width: 22px;
  height: 28px;
  border-radius: 50%;
  background-color: #e92626;
  color: #ffffff;
}
