/* form */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.form label,
.form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.25rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  border: 1px solid #870f06;
  background-color: wheat;
  border-radius: 8px;
  font-size: 1.1rem;
  padding: 0.3rem;
}

.form input:focus {
  border: 1px solid wheat;
  box-shadow: inset 0px 0px 3px wheat(31, 143, 255, 0.5);
  outline: none;
}

.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid rgb(19, 124, 19);
  background-color: rgb(173, 230, 173);
}

/* error notice */

.error-notice {
  padding: 0.5em;
  border-radius: 8px;
  margin: 1rem 0;
  border: 1px solid #e92626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: wheat;
  color: #e92626;
  font-size: 1.1rem;
}

.error-notice button {
  width: 22px;
  height: 28px;
  border-radius: 50%;
  background-color: #e92626;
  color: #ffffff;
}
