.cardMovies{
    background-color: transparent !important;
  }
.cardMovies:hover{
  transform: scale(1.05);
  transition: 1s;
}
.poster:hover{
  border: 4px groove whitesmoke;
  cursor: pointer;
}
.movieTitle{
  text-align: center;
  float: left;
  width: 60%;
  margin-left : 60px;
  font-size: 40px;
  color: whitesmoke 
}
.ratingStar{
  width: 24px;
  height: 24px;
  float: right;
  margin-top: 8px
}
.rating{
  font-size: 30px;
  color: whitesmoke
}
.ratingDiv{
  float: right;
  width: 20%;
  margin-top: -22px
}