.containerMovie{
    width: 100%;
    text-align: center;
}

.containerImageDetails{
    width: 100%;
    text-align: center;
}

.conatinerImage{
    width: 30%;
    height: 550px;
    float: left;
}

.conatinerDetails{
    width:68%;
    margin-left: 2%;
    float: left;
    text-align: left;
}

.reservation{
    width: 100%;
    margin-top: 40px;
    float: none;
    clear: both;
}

.dayData{
    width: 25%;
    text-align: left;
    float: left;
}

.dayData ul li {
    font-size: 22px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100%;
    border:1px solid #333;
    height: 35px;
    list-style-type: none;
    padding-left: 5px;
}
.dayData ul li .active {
    background-color: rgba(43, 107, 226, 0.747);
}

.timeData ul li {
    font-size: 22px; 
    border: 1px solid #333;
    margin-top: 7px;
    margin-bottom: 5px;
    float: left;
    list-style-type: none;
    text-align: center;
}

.roomData li{
    font-size: 22px; 
    border: 1px solid #333;
    margin-top: 7px;
    margin-bottom: 5px;
    float: right;
    list-style-type: none;
    text-align: center;
}