.navclass {
    transition: 1s;
    margin-left: 100px;
    };

.sideclass{
    margin-top: 65px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.theNavbar{
    background-color: red !important;
    /* box-shadow: 10px 10px 10px red; */
}
