.navclass {
    transition: 1s;
    margin-left: 100px;
    };

.sideclass{
    margin-top: 65px !important;
    background-color: black;
    background-image: linear-gradient(to right, black, transparent) !important;
}

.theNavbar{
    background-color: black !important;
    box-shadow: 10px 10px 10px black;
}
 .moviemania{
        font-size: 72px;
        background: -webkit-linear-gradient(#870F06, #c2000d);
        background-clip: text;
        -webkit-text-fill-color: transparent;
 }
