.profileSection {
  width: 60%;
  border-bottom: 3px groove red;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ticketsSection {
  width: 100%;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.ticketsSection .containerMovie {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 10px;
  cursor: pointer;
  height: auto;
}

.ticketsSection .containerImage {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto !important;
}

.ticketsSection .dataTicket {
  width: 40% !important;
  border: 4px groove whitesmoke;
  background-color: rgba(8, 8, 8, 0.5);
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.morePadding {
  padding-bottom: 55px !important;
  padding-top: 55px !important;
}

/* .containerMovie:hover {
  transform: scale(1.05);
  transition: 1s;
} */
.btnTicketCancel:hover {
  transform: scale(1.05);
  transition: 1s;
}

.btnTicketCancel {
  background: transparent;
  color: white;
  width: 200px;
  margin-bottom: 5px;
  margin-left: 50px;
}

.profileData {
  margin-bottom: 50px;
  margin-top: 30px;
}

#imgEditPhoto {
  margin-bottom: 10px;
}

#imgEditPhoto img:hover,
#formEditPhoto input:hover,
#input button:hover {
  cursor: pointer;
}

#formEditPhoto {
  margin-top: 5px;
}

.input {
  width: 50%;
  height: 50px;
  color: red;
  text-align: center;
}

.usersSection {
  width: 100%;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.usersSection table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid linear-gradient(#870f06, #a3020d);
}

.usersSection table td {
  text-align: center;
}
